<template>
  <div id="app">
    <Me name="Janko" />
  </div>
</template>

<script>
import Me from './components/Me.vue';

export default {
  name: 'app',
  components: {
    Me
  }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
</style>
